@charset "utf-8";

body {
    background-color: tomato;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    scale: 60%;
    border-radius: 15px;
    align-content: center;
    justify-content: center;
    rotate: 0deg;
    transition: rotate 1s ease-in-out 100ms;
}
div:hover {
    box-shadow: 0 0 2px 1px royalblue;
    rotate: 180deg;
}

h1 {
    background-color: greenyellow;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    background-clip: padding-box;
}

h3 {
    background-color:greenyellow;
    margin-left: 0px;
    margin-right: 0px;
    text-shadow: 5px;
    border-radius: 10px;
    font-weight: 400;
    padding: 5px;
    text-indent: 60px;
}