@charset "utf-8";

body, html {
    background-color: tomato;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.pic {
    background-color: aquamarine;
    border-radius: 10000px;
}

h1 {
    background-color: greenyellow;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    background-clip: padding-box;
}

h3 {
    background-color:greenyellow;
    margin-left: 0px;
    margin-right: 0px;
    text-shadow: 5px;
    border-radius: 10px;
    font-weight: 400;
    padding: 5px;
    text-indent: 60px;
}