@charset "utf-8";

body {
    background-color: tomato;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    max-width: fit-content;
    height: 900px;
    border-radius: 15px;
    overflow: hidden;
    perspective: 1;
    display: flex;
    flex-basis: 569px;
    align-content: center;
    justify-content: center;
    text-align: center;
    scale: 98%;
    margin-top: 25px;
    transition: scale 1s ease-in-out 100ms, box-shadow 1s ease-in-out 100ms;
}

div:hover {
    box-shadow: 0 0 2px 1px royalblue;
    scale: 100%;
}

h1 {
    background-color: greenyellow;
    background-size: 50px;
    padding: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    font-weight: 600;
    width: 240px;
    transition: scale 1s ease-in-out 100ms, background-color 1s ease-in-out 100ms;  
}

h1:hover {
    scale: 105%;
    background-color: aqua;
}

h3 {
    background-color:greenyellow;
    background-size: cover;
    border-radius: 10px;
    font-weight: 400;
    padding: 5px;
    translate: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    width: max-content;
    align-items: flex-start;
    transition: scale 1s ease-in-out 100ms, background-color 1s ease-in-out 100ms;
}

h3:hover {
    scale: 105%;
    background-color: aqua;
}

.blue{
	display: inline-block;
    height: min-content;
    padding: 10px 20px;
    margin-left: 40px;
    margin-top: -5px;
    border: 1px solid black;
    outline-style: auto;
    outline-width: 3px;
    border-radius: 0px;
    background-color: transparent;
    text-decoration: none;
    scale: 100%;
    transition: background-color 1s ease-in-out 100ms, scale 1s ease-in-out 100ms;
}

.blue:hover {
    scale: 115%;
    background-color: aquamarine;
}

.radio {
    height: min-content;
}